@CHARSET "EUC-KR";

body, html, div, h1 {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

div {
	background-color: #ffb6c1;
	background-size: cover;
	height: 250px;
}


h1 {
	font-size: 40px;
	display: inline;
	position: relative;
	top: 130px;
}

ul {
	width: 100%;
	height: 30px;
	background-color: #000;
	list-style: none;
	padding-top: 10px;
	margin: 0px;
}

ul li {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	font-family: "¸¼Àº °íµñ";
}

ul li a {
	font-size: 13px;
	color: #fff;
	font-weight: bold;
	text-decoration: none;
}

ul li ul {
	background-color: #000;
}

.white a {
	color: #fff
}

#table_content {
	border-top: solid;
	border-width: 1px;
	border-bottom: solid;
	border-bottom-width: 1px;
}

th {
	border-bottom: thin dotted;
	borer-collapse: collapse;
	background-color: #EAEAEA;
}

#noline {
	border-top: none;
}

#icon {
	valign: top;
}

a {
	text-decoration: none;
}

.button {
	background-color: #eaeaea;
	cursor: pointer;
	border: 1px solid #999999;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	height: auto;
}