@CHARSET "EUC-KR";

body, html, div, h1 {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

#div {
	background-color: #80D8FF;
	background-size: cover;
	height: 100px;
}



h1 {
	font-size: 40px;
	font-family: "Courier New";
	display: inline;
	position: relative;
	top: 30px;
}

ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	background-color: #03A9F4;
}

li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: #01579B;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #0288D1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {background: #f1f1f1}
.dropdown:hover .dropdown-content {
	display: block;
}


.white a {
	color: #fff
}

#table_content {
	border-top: solid;
	border-width: 1px;
	border-bottom: solid;
	border-bottom-width: 1px;
}

th {
	border-bottom: thin dotted;
	borer-collapse: collapse;
	background-color: #EAEAEA;
}

a {
	text-decoration: none;
}

.button {
	background-color: #ffc0cb;
	cursor: pointer;
	border: 1px solid;
	border-bottom-color: #ff1493;
	border-radius: 10px;
	font-size: 13px;
	border-width: auto;
	broder-height: auto;
}