@CHARSET "EUC-KR";

body, html, div {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
	background-color: rgba(255, 255, 255, 0.5);
}

.inner {
	margin: 10px;
	background-color: #EAEAEA;
	background-size: cover;
	width: 1200px;
	height: 900px;
	box-shadow: 5px 0px 5px 5px #AAAAAA;
	border-radius: 5.5em;
}

.inner-title {
	border-top-left-radius: 5.5em;
	border-top-right-radius: 5.5em;
}

#div {
	background-color: #CFD8DC;
	background-size: cover;
	height: 120px;
	border-bottom: solid;
	border-bottom-width: 20px;
	border-color: #37474F;
}

h1 {
	font-size: 40px;
	font-family: "Courier New";
	display: inline;
	position: relative;
	top: 30px;
}

h2 {
	font-size: 30px;
	position: relative;
	top: 75px;
}

input[type="button"], input[type="submit"] {
	background-color: #B0BEC5;
	cursor: pointer;
	border: 1px solid;
	border-bottom-color: #455A64;
	border-radius: 3px;
	font-size: 13px; 
	border-width : auto;
	broder-height: auto;
}

.thcenter {
	background-color: #263238;
	color: #FFFFFF;
}

.tdleft {
	border-bottom: thin dotted;
	border-color: #263238;
}

.tdcontent {
	border: solid;
	border-color: #263238;
	border-width: 1px;
}