@CHARSET "EUC-KR";

body, html, div, h1 {
	font-size: 14px;
	margin: 0px;
	padding: 0px;
}

div {
	background-color: #999999;
	background-size: cover;
	height: 150px;
}

h1 {
	font-size: 40px;
	display: inline;
	position: relative;
	top: 70px;
	align: left;
}

h2 {
	font-size: 30px;
	position: relative;
	top: 75px;
}

input[type="button"] {
	border-radius: 10px;
	background-color: #ffccff;
}