<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="list" class="com.model.ListModel"/>
	<bean id="content" class="com.model.ContentModel"/>
	<bean id="insert_ok" class="com.model.InsertOkModel"/>
	<bean id="insert" class="com.model.InsertModel"/>
	<bean id="reply" class="com.model.ReplyModel"/>
	<bean id="reply_ok" class="com.model.ReplyOkModel"/>
	<bean id="delete" class="com.model.DeleteModel"/>
	<bean id="delete_ok" class="com.model.DeleteOkModel"/>
	<bean id="update" class="com.model.UpdateModel"/>
	<bean id="update_ok" class="com.model.UpdateOkModel"/>
</beans>